* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.container {
    background-color: #e1e1e1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.style {
    border: 1px solid #888;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.01);
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    padding: 30px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}
.style small {
    position: absolute;
    top: -30px;
    text-align: center;
    color: #333;
    font-size: 24px;
}